@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{margin: 0; padding:0; box-sizing: border-box;}
html{font-size: 12px; overflow-x: hidden;}


/*///////////////////////////varibales classes///////////////////////////////////*/
:root{
    --font1:'Poppins', sans-serif;
    --color1:#fff;
    --color2:rgba(84,199,245,.2);
    --color3:rgba(200,128,241,.2);
    --color4:#1cf2ff;
    --color5:#866385; 
    --color6:#5a5497;
    --color7:#333;  
    --color8:#7a7a7a; 
    --color9:#d4d4d4;
}
/*/////////////////////////////////colum classes////////////////////////////////////////////*/
.col12{width: 100%;}.col11{width: 91.6%;}.col10{width: 83.3%;}.col9{width: 75%;}.col8{width: 66.6%;}.col7{width: 58.3%;}.col6{width: 50%;}.col5{width: 41.6%;}.col4{width: 33.3%;}.col3{width: 25%;}.col2{width: 16.6%;}.col1{width: 8.3%;}
.wrapper{padding: 0 3%;}
.center{display: flex; justify-content: center; align-items: center;}
.left{display: flex; justify-content: center; align-items: left;}
.vertical{flex-direction: column;}
.plr-5{padding: 0 5%;}

/*////////////////////////////////////Buttons chart//////////////////////////////////////////*/
.btn1{background: var(--color1); color: var(--color6); font-size: 1.2rem; font-family: var(--font1); font-weight: 700;
display:flex; align-self: flex-start; height:4rem; padding: 0 3rem; line-height: 4rem; position: relative; margin-left: 4rem; transition: all 300ms linear;}
.btn1::before{background: var(--color5); content:url(../img/btn-1.png); position: absolute; width: 4rem; display: flex; justify-content: center; height: 3.25rem; left: -4rem; padding-top: .75rem; }

.btn1:hover{background-color: var(--color5); color: var(--color1); transform: translateX(20px);}

/*////////////////////////////////////font size chart//////////////////////////////////////////*/
h1{font-family: var(--font1); font-weight:700; font-size:12rem; line-height: 11rem; color:var(--color1); position: relative;}
h1>span{-webkit-text-stroke: 1px white!important; color:transparent!important;}
.threedtxt::before{content: 'Brian miler'; width: 12rem; color:var(--color2); transition: all 300ms linear; position: absolute; left: 20px; top: -25px; }
.threedtxt::after{content: 'Brian miler'; width: 12rem; color:var(--color3);  transition: all 300ms linear;  position: absolute; left: -20px; bottom: -10px; }
.threedtxt2::before{content: 'SPACE WAR'; width: 12rem; color:var(--color2); transition: all 300ms linear; position: absolute; left: 20px; top: -25px; }
.threedtxt2::after{content: 'SPACE WAR'; width: 12rem; color:var(--color3); transition: all 300ms linear; position: absolute; left: -20px; bottom: -10px; }
h3{font-family: var(--font1); font-weight:500; font-size:3rem;color:var(--color7);}
h4{font-family: var(--font1); display: flex; font-weight: 500; margin-left: 100px; align-items: center;  position: relative; font-weight:700; font-size:1.3rem; color: var(--color4); line-height: 9rem;  position: relative; text-transform: uppercase; letter-spacing: 1rem;}
h4::before{content: ''; width: 50px; height: 2px; background-color: var(--color4); position: absolute; left: -100px;}
h5{font-family: var(--font1); font-weight:500; font-size:1.4rem; color:var(--color7);}
h6{font-family: var(--font1); font-weight:400; font-size:1.1rem; color:var(--color8);}
p{font-family: var(--font1); font-weight:500; font-size:1.3rem;color:var(--color7);}
a{text-decoration: none; font-family: var(--font); }
.alink{font-family: var(--font); font-size: 15px; font-weight: 700;  text-transform: uppercase;}
/* hover style */
h1:hover:before{transform: translateX(20px); }
h1:hover:after{transform: translateX(-20px); }

/*////////////////////////////////////MAIN CONTAINER//////////////////////////////////////////*/
.container{width: 100%; height: auto; background: #fff; }

/*////////////////////////////////////HEADER//////////////////////////////////////////*/
header{height: 738px; width: 100%; background: url("../img/slider-bg.png"); background-color: #000; background-position: top right; background-repeat: no-repeat; }
.nav{width: 100%; height: 90px; display: flex;}
.logo{width: 50%; height: auto; display: flex; align-items:flex-end;}
.menu{width: 50%; height: auto; text-align:right; line-height: 150px;}
.sliderCon{width: 100%; height: 648px; display: flex; position: relative;}
.slider1{width: 50%; height: 100%;  z-index:2; display: flex; padding-left: 5%; flex-direction: column; justify-content: center;}
.slider2{width: 50%; height: 100%; display: flex; align-items: flex-end; justify-content: flex-end;}
.scrolMouse{position: absolute; transition: all 300ms linear; width: 82px; height: 82px; background-image: url(../img/scroll-mouse.png); background-repeat: no-repeat; bottom:-35px; left: 50%; z-index:9;}
/* hover style */
.scrolMouse:hover{transform: rotate(180deg);}

/*////////////////////////////////////FEATURE//////////////////////////////////////////*/
.feature{width: 100%; height: 480px; display: flex; background-color: var(--color1);}
.featureBox1>h3, .featureBox1>p{margin-bottom: 5%;}
.featureBox1>p{color: var(--color8); line-height: 2.3rem; width: 75%; text-align: justify;}
.featureBox1>img{align-self: flex-start;}

/*////////////////////////////////////Gallery//////////////////////////////////////////*/
.gallery{width: 100%; height: auto; background-color: var(--color1); padding: 2% 0; }
.gridBox{width: 100%; height:867px; display: grid; grid-gap: 1rem; grid-template-columns: repeat(4,1fr); grid-template-rows: repeat(3,1fr);}
.g-box{background-color: var(--color1); display: flex; flex-direction: column;}
.g-box>div:nth-child(1){height: 80%;}
.g-box>div:nth-child(2){height: 20%;}
.g-box:nth-child(6)>div:nth-child(1){height: 85%;}
.g-box:nth-child(6)>div:nth-child(2){height: 15%;}
.g-box:nth-child(1){grid-column: 1/3; grid-row: 1/3;}
.g-box:nth-child(6){grid-column: 3/5; grid-row: 2/4;}
.imgBox{overflow: hidden;}
.imgBox>img{background-size: cover; width: 100%; height: 100%;  transition: all 300ms linear;}
.desc{padding-left: 5%; display: flex; flex-direction: column; align-items: flex-start; justify-content: center;}
/* hover style */
.imgBox:hover img{transform: scale(1.2); opacity: .5;}

/*////////////////////////////////////Footer Feature//////////////////////////////////////////*/

.footerFeature{width: 100%; height: 1000px; margin: 7% 0 0 0; position: relative;  background-image: url(../img/global.png), linear-gradient(180deg, rgba(4,15,29,1) 28%, rgba(58,139,177,1) 100%); background-repeat: no-repeat; background-position-y: bottom; }
.superGirl{background-image: url(../img/supergirl.png); width: 35rem; height: 39rem; position: absolute; top:50%; left: 30%;}
.featureDetails{width: 90%; margin: 0 auto; height: 500px; display: grid; grid-template-columns:repeat(3,1fr); grid-template-rows:repeat(2,1fr); grid-gap: 5px;}
.featureDetails>div{display: flex; flex-direction: column; justify-content: flex-end; align-items: center;}
.featureDetails>div>h6{margin-top: 15%; line-height: 2rem; color: var(--color9); width: 70%; position: relative;}
.featureDetails>div>h6:before{content: ''; width: 100px; height:3px; background-color: var(--color4); position: absolute; top: -1rem;}
.featureDetails>div:nth-child(2){grid-row: 1/-1; grid-column: 2/3;}

/*////////////////////////////////////Footer//////////////////////////////////////////*/
footer{width: 100%; height: 15rem; display: flex; align-items: center; }
footer>div:nth-child(1){display: flex; justify-content: center;}
footer>div:nth-child(3){display: flex; justify-content: center;}
footer p{color: var(--color8);}
.footermenu{list-style: none; display: flex; justify-content: space-around; width: 80%;}
.footermenu>li>a{font-family:var(--font1); font-size: 1.3rem; color: var(--color8); padding: 0 2%;}

/*/////////////////////////////////////Animation section start///////////////////////////////////*/
.animation-element {opacity: 0;}
.animation-element.slide-left {opacity: 0;transition: all 400ms linear;transform: translateX(-100px);}
.animation-element.slide-right {opacity: 0;transition: all 400ms linear;position: relative;transform: translateX(100px);}
.animation-element.slide-top {opacity: 0;transition: all 400ms linear;transform: translateY(100px);}

.animation-element.scale-ele {opacity: 0;transition: all 400ms ease-in-out;transform: scale(.2, .2);}
.animation-element.scale-ele2 {opacity: 0;transition: all 400ms ease-in-out 200ms;transform: scale(.2, .2);}

.animation-element.slide-left.in-view,
.animation-element.slide-right.in-view,
.animation-element.scale-ele.in-view,
.animation-element.slide-top.in-view,
.animation-element.scale-ele2.in-view {
	opacity: 1;
	transform: scale(1, 1);
	transform: translateY(0);
	transform: translateX(0);	
}

/*////////////////////////////////////RESPONSIVE STYLE//////////////////////////////////////////*/
/*////////////////////////////////////TAB//////////////////////////////////////////*/
@media (max-width:992px) {
    .feature{width: 100%; height: auto; flex-direction: column; }
    .plr-5{padding:0px!important;}
    .feature>div{margin: 10% 0 0 0; align-items: center; justify-content: center; width: 100%;}
    .feature>div>img{align-self: center;}
    .scrolMouse{left: 45%; z-index:9;}
    h4{letter-spacing:.6rem; width: 100%!important;} 
    .btn1{padding: 0 2rem; line-height: 4rem;}
    .feature>div:nth-child(2)>img{align-self: center; width: 80%;} 
    .gallery{padding: 5% 0;} 
    .gridBox{height: auto;}
    .g-box:nth-child(6)>div:nth-child(1){height: 80%;}
    .g-box:nth-child(6)>div:nth-child(2){height: 20%;}    
    .g-box:nth-child(1){grid-column: 1/3; grid-row: 1/2;}
    .g-box:nth-child(2){grid-column: 3/-1; grid-row: 1/2;}
    .g-box:nth-child(3){grid-column: 1/3; grid-row: 2/3;}
    .g-box:nth-child(4){grid-column: 3/-1; grid-row: 2/3;} 
    .g-box:nth-child(5){grid-column: 1/3; grid-row: 3/4;}
    .g-box:nth-child(6){grid-column: 3/-1; grid-row:3/4;}
    .threedtxt2{font-size: 6rem!important; line-height: 5rem!important;} 
    .footerFeature{height: auto; background-image: url(), linear-gradient(180deg, rgba(4,15,29,1) 28%, rgba(58,139,177,1) 100%); background-repeat: no-repeat; background-position-y: bottom;}
    .featureDetails{grid-template-rows:repeat(auto,1fr)!important; grid-template-columns: repeat(2,1fr)!important; grid-gap: 1rem; height: auto; padding: 5% 0;}
    .featureDetails>div{margin-bottom: 5%;}
    .featureDetails>div:nth-child(odd){ grid-column: 1/2;}
    .featureDetails>div:nth-child(even){ grid-column: 2/-1;} 
    .featureDetails>div:nth-child(2){ grid-row: 1/2;}  
    .threedtxt2,.superGirl{display: none;} 
    .featureDetails > div > h6{margin-top: 3%;}
    .featureDetails > div >img{margin:6% 0;} 
    
}

/*////////////////////////////////////MOBILE//////////////////////////////////////////*/
@media (max-width:500px) {
    h1{font-size:9rem; line-height: 8rem;}
    h4{ letter-spacing:.6rem; font-size: 1.5rem; width: 100%!important;} 
    .slider2{display: none!important;}
    .slider1{width: 100%; }
    .scrolMouse{left: 40%;}
    .feature>div>img{width: 70%;}
    .gridBox{grid-template-rows: repeat(3,1fr)!important; height:auto!important;} 
    .g-box:nth-child(6)>div:nth-child(1){height: 80%;}
    .g-box:nth-child(6)>div:nth-child(2){height: 20%;}       
    .g-box:nth-child(1){grid-column: 1/-1; grid-row: 1/2;}
    .g-box:nth-child(2){grid-column: 1/-1; grid-row: 2/3;}
    .g-box:nth-child(3){grid-column: 1/-1; grid-row: 3/4;}
    .g-box:nth-child(4){grid-column: 1/-1; grid-row: 4/5;} 
    .g-box:nth-child(5){grid-column: 1/-1; grid-row: 5/6;}
    .g-box:nth-child(6){grid-column: 1/-1; grid-row: 6/7;}
    .superGirl{left: 0%;}   
    .featureDetails{ grid-template-columns: repeat(1,1fr)!important; grid-gap: 1rem; height: auto; padding: 5% 0;}
    .featureDetails>div{grid-column: 1/-1; margin-bottom: 5%; } 
    .featureDetails>div:nth-child(2){ grid-column: 1/-1;} 
    .featureDetails>div:nth-child(odd){ grid-column: 1/-1;}
    .featureDetails>div:nth-child(even){ grid-column: 1/-1;} 
    .featureDetails>div>h6{width: 90%; text-align: justify; margin-top: 9%;}
    footer{width: 100%; padding: 2% 0; height: auto; flex-direction: column; justify-content: center; } 
    footer>div:nth-child(1){display: none;} 
    footer>div:nth-child(2){width: 100%!important; text-align: center;}   
    footer>div:nth-child(3){ width: 100%!important; text-align: center;} 
    footer>div:nth-child(3)>p{font-size: .8rem!important;}  
}
/*////////////////////////////////////THE END//////////////////////////////////////////*/